
<div class="container-fluid">
    <div class="row">
        
        
        <div class="col-lg-10 col-md-10 col-sm-12  search" >
            <!-- <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                <input type="password" class="form-control" id="inputPassword2" placeholder="search your order here">
                </div>
                <button type="submit" class="btn btn1 mb-2">search</button>
            </form> -->
            <input type="text" class="form-control"  placeholder="search your order here " style="border-radius:15px ;">
                </div>
                <span class="center"><button type="submit" class="btn btn1 mb-2 "  >search</button></span>
            </div>
            <br><br>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div>
        </div>
    </div><br>
        <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div>
        </div>
    </div>

