
<div class="container-fluid">
    <div class="row">
        
        
        <div class="col-lg-10 col-md-10 col-sm-12  search" >
            <!-- <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                <input type="password" class="form-control" id="inputPassword2" placeholder="search your order here">
                </div>
                <button type="submit" class="btn btn1 mb-2">search</button>
            </form> -->
            <input type="text" class="form-control"  placeholder="search your order here " style="border-radius:15px ;" [(ngModel)]="searchText">
                </div>
                <span class="center"><button type="submit" class="btn btn1 mb-2 "  >search</button></span>
            </div>
            <br><br>
    </div>
    <div class="row">
        <div class="col-lg-12" *ngFor="let item of products | filter : searchText; let i = index" >
            <div class="card ordercard">
                <div class="card-body">
                    <div class="row">
                  <div class="col-lg-2 ">
                    <img src={{item.imgsrc}} alt="" style="width:45px ;">
                  </div>
                  <div class="col-lg-4 ">{{item.description}} <div class="subtext">Quantity - {{item.quantity}}</div>
                </div>
                   <div class="col-lg-2 ">{{item.price}}</div>
                  <div class="col-lg-4 "><span class="dot"></span> &nbsp; Delevered on Sept 05 <div class="subtext">{{item.status}}</div></div>
                </div>
            </div>
              </div><br>
        </div>
    </div>
   
    
   
   
   
  

